---
layout: page-layout.njk
title: 'About the 2014 Event'
meta_title: 'Vermont Code Camp 6 :: 2014'
meta_description: The 6th annual Vermont Code Camp in Burlington, VT – bringing together technology community members, students and professionals from around Vermont and beyond.
---


<article id="attend" class="anchor">
    <header>
        <img src="/media/event-directional-sign-480x320.jpg" width="480" height="320" alt="Building with sign reading Vermont Code Camp in the foreground" />
    </header>
    <article>

        <div class="meta">
            <abbr title="September 20, 2014, 9:00am - 6:00pm" class="date-time">
                <span class="day">Saturday</span> 
                <span class="month">Sept</span> 
                <span class="date">20</span> 
                <span class="time">9:00AM-6:00PM</span>
            </abbr> 
            <abbr title="Kalkin Hall, The University of Vermont, 55 Colchester Avenue, Burlington, VT" class="location">
                <span class="building">Kalkin Hall</span> 
                <span class="place">UVM Campus</span>
                <span class="address">55 Colchester Ave</span> 
                <span class="city">Burlington, VT</span>
            </abbr>
        </div>

        <h1>{{ title }}</h1>
        <p class="description"><strong class="summary">Vermont Code Camp</strong> is a full day event that brings together technology community members, students and professionals from around Vermont and beyond. <a href="/schedule" class="highlight">View the 2014 schedule,</a> with sessions on a variety of software topics including programming, databases, web, business and more.</p>

        <p><strong><a href="http://www.meetup.com/VTCode/events/187086542/">Event Page on Meetup</a></strong></p>

    </article>

    <article class="sponsors">
            <h1>Premiere Sponsors</h1>
            <ul class="sponsors">
                <li><a href="http://www.uvm.edu/business/"><span class="logo the-university-of-vermont">UVM</span> School of Business Administration</a></li>
                <li><a href="http://www.mywebgrocer.com/" class="logo mywebgrocer">MyWebGrocer</a></li>
                <li><a href="http://www.dealer.com/" class="logo dealer-dot-com">Dealer.com</a></li>
                <li><a href="http://foundline.com/?utm_source=vtcodecamp&amp;utm_medium=credit&amp;utm_content=textlink&amp;utm_campaign=vtcodecamp" class="logo found-line">Found Line</a></li>
            </ul>
            <h1>Platinum Sponsor</h1>
            <ul class="sponsors">
                <li><a href="http://www.techjamvt.com/" class="logo vermont-tech-jam">Vermont Tech Jam</a></li>
            </ul>
            <h1>Gold Sponsors</h1>
            <ul class="sponsors">
                <li><a href="http://www.techsmith.com/" class="logo techsmith">TechSmith</a></li>
                <li><a href="http://www.champlain.edu/academics/academic-divisions/division-of-information-technology-and-sciences"><span class="logo champlain-college">Champlain College</span> Division of Information Technology and Sciences</a></li>
                <li><a href="http://www.competitive.com/" class="logo competitive-computing">Competitive Computing</a></li>
                <li><a href="http://www.keuriggreenmountain.com/" class="logo keurig-green-mountain">Keurig Green Mountain</a></li>
            </ul>
            <h1>Silver Sponsors</h1>
            <ul class="sponsors">
                <li><a href="http://www.evolutionpayroll.com/" class="logo evolution">Evolution by iSystems</a></li>
                <li><a href="http://www.improvingenterprises.com/" class="logo improving-enterprises">Improving Enterprises</a></li>
                <li><a href="http://middleburyinteractive.com/" class="logo middlebury-interactive-languages">Middlebury Interactive Languages</a></li>
                <li><a href="http://www.stgnet.net/" class="logo stg">STG</a></li>
            </ul>
            <h1>Bronze Sponsors</h1>
            <ul class="sponsors">
                <li><a href="https://www.wintellectnow.com/" class="logo wintellectnow">WintellectNOW</a></li>
                <li><a href="http://www.eatingwell.com/" class="logo eatingwell">EatingWell</a></li>
                <li><a href="http://www.aflglobal.com/test" class="logo afl">AFL</a></li>
            </ul>
            <h1>Swag, Giveaways &amp; More</h1>
            <ul class="sponsors">
                <li><a href="http://www.apress.com/" class="logo apress">Apress</a></li>
                <li><a href="http://www.code-magazine.com/" class="logo code-magazine">CODE Magazine</a></li>
                <li><a href="http://www.wiley.com/" class="logo wiley">Wiley</a></li>
                <li><a href="http://www.oreilly.com/" class="logo oreilly-media">O'Reilly Media</a></li>
                <li><a href="http://www.informit.com/usergroupwelcome" class="logo pearson-user-groups">Pearson User Groups</a></li>
                <li><a href="https://www.safaribooksonline.com/" class="logo safari-books-online">Safari Books Online</a></li>
                <li><a href="http://pluralsight.com/" class="logo pluralsight">Pluralsight</a></li>
                <li><a href="http://www.logicsupply.com/" class="logo logic-supply">Logic Supply</a></li>
                <li><a href="http://www.jetbrains.com/" class="logo jetbrains">JetBrains</a></li>
                <li><a href="http://vtmakers.org/" class="logo vermont-makers">Vermont Makers</a></li>
                <li><a href="http://xamarin.com/" class="logo xamarin">Xamarin</a></li>
            </ul>
            <h1>Community Partners</h1>
            <ul class="sponsors">
                <li class="name-only"><a href="http://www.uvm.edu/tiie/">Tarrant Institute for Innovative Education</a></li>
                <li class="name-only"><a href="http://www.girldevelopit.com/chapters/burlington">Girl Develop It Burlington</a></li>
                <li class="name-only"><a href="http://burlingtonrubyconference.com/">Burlington Ruby Conference</a></li>
            </ul>
        </article>

</article>
